@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
    <style>
        .photo-gallery {
            color: #313437;
            background-color: #fff;
        }

        .photo-gallery p {
            color: #7d8285;
        }

        .photo-gallery h2 {
            font-weight: bold;
            margin-bottom: 40px;
            padding-top: 40px;
            color: inherit;
        }


        .photo-gallery .intro {
            font-size: 16px;
            max-width: 500px;
            margin: 0 auto 40px;
        }

        .photo-gallery .intro p {
            margin-bottom: 0;
        }

        .photo-gallery .photos {
            padding-bottom: 20px;
        }

        .photo-gallery .item {
            padding-bottom: 30px;
        }

        p {
            text-align: center;
        }

        h1 {
            text-align: center;
        }
    </style>
</head>
<body>
    <div class="photo-gallery">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Lightbox Gallery</h2>
                <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat, pellentesque ut laoreet vitae. </p>
            </div>
            <div class="row photos">
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="https://w7.pngwing.com/pngs/284/669/png-transparent-vegeta-goku-dragon-ball-z-dokkan-battle-trunks-gohan-vegeta-superhero-cartoon-fictional-character-thumbnail.png" data-lightbox="photos"><img class="img-fluid" src="https://w7.pngwing.com/pngs/284/669/png-transparent-vegeta-goku-dragon-ball-z-dokkan-battle-trunks-gohan-vegeta-superhero-cartoon-fictional-character-thumbnail.png"></a><h1>Vegita:</h1> <br> <p>Vegita Is the Prince of Saiyan... A Race that was feared by their Power Instinct where their limit is still unknown.</p></div>
                
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="https://w7.pngwing.com/pngs/231/421/png-transparent-dragon-ball-z-lord-veerus-dragon-ball-fighterz-beerus-goku-gohan-trunks-dragon-ball-z-purple-fictional-character-cartoon-thumbnail.png" data-lightbox="photos"><img class="img-fluid" src="https://w7.pngwing.com/pngs/231/421/png-transparent-dragon-ball-z-lord-veerus-dragon-ball-fighterz-beerus-goku-gohan-trunks-dragon-ball-z-purple-fictional-character-cartoon-thumbnail.png"></a></div>
                
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="https://w7.pngwing.com/pngs/284/669/png-transparent-vegeta-goku-dragon-ball-z-dokkan-battle-trunks-gohan-vegeta-superhero-cartoon-fictional-character-thumbnail.png" data-lightbox="photos"><img class="img-fluid" src="https://w7.pngwing.com/pngs/284/669/png-transparent-vegeta-goku-dragon-ball-z-dokkan-battle-trunks-gohan-vegeta-superhero-cartoon-fictional-character-thumbnail.png"></a></div>
                
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="https://w7.pngwing.com/pngs/284/669/png-transparent-vegeta-goku-dragon-ball-z-dokkan-battle-trunks-gohan-vegeta-superhero-cartoon-fictional-character-thumbnail.png" data-lightbox="photos"><img class="img-fluid" src="https://w7.pngwing.com/pngs/284/669/png-transparent-vegeta-goku-dragon-ball-z-dokkan-battle-trunks-gohan-vegeta-superhero-cartoon-fictional-character-thumbnail.png"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="https://www.writeups.org/wp-content/uploads/Songoku-age-15-Dragon-Ball.jpg" data-lightbox="photos"><img class="img-fluid" src="https://www.writeups.org/wp-content/uploads/Songoku-age-15-Dragon-Ball.jpg"></a></div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="https://qph.cf2.quoracdn.net/main-qimg-1323c11c44aa6429d0448db0c7947fae-lq" data-lightbox="photos"><img class="img-fluid" src="https://qph.cf2.quoracdn.net/main-qimg-1323c11c44aa6429d0448db0c7947fae-lq"></a></div>
            </div>
                <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="assets/img/desk.jpg" data-lightbox="photos"><img class="img-fluid" src="assets/img/desk.jpg"></a></div>
            </div>
            
        </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
</body>

</html>