@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Untitled</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">
</head>
<style>
    .photo-gallery {
        color: #313437;
        width: 100%;
        max-width: none;
    }

        .photo-gallery .item img {
            width: 100%;
            height: auto;
            object-fit: cover;
            align-items: center;
            border: 2px ridge lightblue;
            border-radius: 5px;
            margin-top: 10px;
        }


        .photo-gallery h2 {
            font-weight: bold;
            margin-bottom: 40px;
            padding-top: 40px;
            color: inherit;
        }

        .photo-gallery .intro {
            font-size: 16px;
            max-width: 500px;
            margin: 0 auto 40px;
        }

            .photo-gallery .intro p {
                margin-bottom: 0;
            }

        .photo-gallery .photos {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .photo-gallery .item {
            flex: 0 0 calc(25% - 20px); /* Adjust the flex basis to 25% for 4 items per row */
            margin-bottom: 20px;
            background-color: black;
            overflow: hidden;
            border-radius: 5px;
            border: 2px ridge lightblue;
        }

    p {
        text-align: center;
    }

    h1 {
        text-align: center;
        -webkit-text-stroke: 1px black;
        background-clip: text;
        color:white;
    }

    .lb-close {
        position: absolute;
        top: 10px;
        right: 10px;
        color: #fff;
        font-size: 24px;
    }

    body {
        background-image: url("../images/background3.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .container-fluid {
        background-color: rgba(0, 0, 0, 0.7); 
        border-radius: 10px;
        padding: 20px;
        color: white; 
    }

    a:hover {
        color: white;
    }
</style>

<body>
    <div class="photo-gallery">
        <div class="container-fluid text-center">
            <div class="intro">
                <h1 class="text-center">Naruto Characters</h1>
            </div>
            <div class="row photos">
                <!--1-->
                <div class="col-sm-6 col-md-4 col-lg-3 item mx-2 my-2">
                    <a href="../images/n1.jpg" data-lightbox="photos">
                        <img class="img-fluid custom-image" src="../images/n1.jpg">
                        <h1>Naruto Uzumaki:</h1><hr><p>is the main character of the beloved Naruto series and he is a resident of the Hidden Leaf Village in the Land of Fire. Although Naruto was the son of the Fourth Hokage of the Hidden Leaf Village, Minato Namikaze and Kushina Uzumaki, he grew up as an orphan in the Hidden Leaf Village.</p>
                    </a>
                </div>
                <!--2-->
                <div class="col-sm-6 col-md-4 col-lg-3 item mx-2 my-2">
                    <a href="../images/n2.jpg" data-lightbox="photos">
                        <img class="img-fluid" src="../images/n2.jpg">
                        <h1>Sasuke Uchiha:</h1><hr><p>is considered to be the strongest Uchiha in the history of the Uchiha clan, rivaling the power of The Ghost of the Uchiha himself. Sasuke is the second son of Fugaku and Mikoto Uchiha and is the younger brother of Itachi Uchiha.</p>
                    </a>
                </div>
                <!--3-->
                <div class="col-sm-6 col-md-4 col-lg-3 item mx-2 my-2">
                    <a href="../images/n3.jpg" data-lightbox="photos">
                        <img class="img-fluid" src="../images/n3.jpg">
                        <h1>Sakura Haruno:</h1><hr><p>is an expert medical-nin and kunoichi from Konohagakure. She was also a member of Team 7 alongside Naruto Uzumaki, Sasuke Uchiha and their Leader Kakashi Hatake.</p>
                    </a>
                </div>
                <!--4-->
                <div class="col-sm-6 col-md-4 col-lg-3 item mx-2 my-2">
                    <a href="../images/n4.jpg" data-lightbox="photos">
                        <img class="img-fluid" src="../images/n4.jpg">
                        <h1>Kakashi Hatake:</h1><hr><p>is known as ‘Kakashi of the Sharingan’ in Konohagakure. He puts a huge emphasis on teamwork and that you should value your friendships. Kakashi has a relaxed and almost bored attitude, and he does not get too worked up about anyone or anything. He's not punctual and shows up whenever it is suitable for him.</p>
                    </a>
                </div>
                <!--5-->
                <div class="col-sm-6 col-md-4 col-lg-3 item mx-2 my-2">
                    <a href="../images/n5.jpg" data-lightbox="photos">
                        <img class="img-fluid" src="../images/n5.jpg">
                        <h1>Jiraiya:</h1><hr><p>was one of The Hidden Leaf's Three Legendary Sannin. He was Naruto Uzumaki's master and was later revealed as his godfather. Jiraiya taught Naruto numerous skills, including the Rasengan, one of his signature jutsus.</p>
                    </a>
                </div>
                <!--6-->
                <div class="col-sm-6 col-md-4 col-lg-3 item mx-2 my-2">
                    <a href="../images/n6.jpg" data-lightbox="photos">
                        <img class="img-fluid" src="../images/n6.jpg">
                        <h1>Tsunade Senju:</h1><hr><p>is the granddaughter of Hashirama Senju, the First Hokage, and was also the Fifth Hokage of Konoha. She is also known as Konoha’s slug princess. Tsunade was a believer but after the death of her younger brother and lover, she lost the will to do anything at all.</p>
                    </a>
                </div>
                <!--7-->
                <div class="col-sm-6 col-md-4 col-lg-3 item mx-2 my-2">
                    <a href="../images/n7.png" data-lightbox="photos">
                        <img class="img-fluid" src="../images/n7.png">
                        <h1>Shikamaru Nara:</h1><hr><p>is one of Konoha's shinobi belonging to the Nara clan. Even though he is quite loyal in nature, he possesses a rare intellect that allows him to win battles. The responsibilities that he gets due to these successes usually make him annoyed.</p>
                    </a>
                </div>
                <!--8-->
                <div class="col-sm-6 col-md-4 col-lg-3 item mx-2 my-2">
                    <a href="../images/n8.jpg" data-lightbox="photos">
                        <img class="img-fluid" src="../images/n8.jpg">
                        <h1>Choji Akimichi:</h1><hr><p>is a Shinobi of The Hidden Leaf Village (Konohagakure) and was a team member of Team 10. He is also the sixteenth leader of the Akimichi Clan. He is one of the main characters in the Naruto Anime series, written by Masashi Kishimoto, one of the best Manga artists.</p>
                    </a>
                </div>
                <!--9-->
                <div class="col-sm-6 col-md-4 col-lg-3 item mx-2 my-2">
                    <a href="../images/n9.png" data-lightbox="photos">
                        <img class="img-fluid" src="../images/n9.png">
                        <h1>Asuma Sarutobi:</h1><hr><p>Sarutobi Asuma was a Konohagakure Jōnin and a member of the Sarutobi Clan. He was also a former member of the Twelve Guardian Ninja. He led his own team of genin, Team 10, which consisted of Shikamaru Nara, Ino Yamanaka and Chōji Akimichi; combined, known as the Ino-Shika-Chō trio.</p>
                    </a>
                </div>
                <!--10-->
                <div class="col-sm-6 col-md-4 col-lg-3 item mx-2 my-2">
                    <a href="../images/n10.png" data-lightbox="photos">
                        <img class="img-fluid" src="../images/n10.png">
                        <h1>Hinata Hyuga:</h1><hr><p>is a Kunoichi of Hidden Leaf village (Konohagakure) and a former heiress of the Hyuga clan. Still, because she is not meant to be the leader of one of the strongest clans in the Naruto series, she has been dropped to be the leader of the clan and carry them to another generation.</p>
                    </a>
                </div>
                <!--11--> 
                <div class="col-sm-6 col-md-4 col-lg-3 item mx-2 my-2">
                    <a href="../images/n11.jpg" data-lightbox="photos">
                        <img class="img-fluid" src="../images/n11.jpg">
                        <h1>Neji Hyuga:</h1><hr><p>He was a member of the renowned Hyuga clan and a jonin-level shinobi of Konohagakure, popularly known as the Village Hidden in the Leaves. Although he was a member of the branch family of the Hyuga clan, he had inherited powerful Byakugan, the Kekkei Genkai of the Hyuga clan.</p>
                    </a>
                </div>
                <!--2-->
                <div class="col-sm-6 col-md-4 col-lg-3 item mx-2 my-2">
                    <a href="../images/n12.jpg" data-lightbox="photos">
                        <img class="img-fluid" src="../images/n12.jpg">
                        <h1>Itachi Uchiha:</h1><hr><p>is a complex character in the series. Itachi Uchiha was a rogue shinobi from the Village Hidden in the Leaves. He was a member of the legendary Uchiha Clan and even among the Uchiha, he possessed great intellect and skills. He was a prodigy of the Uchiha clan and showcased his superior skills at a young age.</p>
                    </a>
                </div>
                <!--3-->
                <div class="col-sm-6 col-md-4 col-lg-3 item mx-2 my-2">
                    <a href="../images/n13.png" data-lightbox="photos">
                        <img class="img-fluid" src="../images/n13.png">
                        <h1>Hashirama Senju:</h1><hr><p>Hashirama Senju was a member of the famous Senju clan and he was one of the founders and also the First Hokage of the Leaf Village. 'God of Shinobi,' as he was called by his contemporaries, Hashirama sought peace for the shinobi world. To achieve that end founded Konoha with his clan, his childhood friend and rival Madara Uchiha, and the Uchiha clan.</p>
                    </a>
                </div>
                <!--4-->
                <div class="col-sm-6 col-md-4 col-lg-3 item mx-2 my-2">
                    <a href="../images/n14.jpg" data-lightbox="photos">
                        <img class="img-fluid" src="../images/n14.jpg">
                        <h1>Minato Namikaze:</h1><hr><p>Minato Namikaze is the Fourth Hokage of the Leaf Village. He was also known as the Yellow Flash of the Leaf. Minato was a very humble and collected man. He was very perceptive; he was noted for never doing something without reason.</p>
                    </a>
                </div>
                <!--5-->
                <div class="col-sm-6 col-md-4 col-lg-3 item mx-2 my-2">
                    <a href="../images/n15.png" data-lightbox="photos">
                        <img class="img-fluid" src="../images/n15.png">
                        <h1>Shisui Uchiha:</h1><hr><p>Shisui Uchiha is a well-known member of the prestigious Uchiha Clan and one of the select few who had the honor of gaining access to the Mangekyo Sharingan's abilities. Not only that, he was also able to harness its entire potential.</p>
                    </a>
                </div>
                <!--6-->
                <div class="col-sm-6 col-md-4 col-lg-3 item mx-2 my-2">
                    <a href="../images/n16.png" data-lightbox="photos">
                        <img class="img-fluid" src="../images/n16.png">
                        <h1>Rock Lee:</h1><hr><p>Rock Lee is a character from the Naruto series. Although he was a later addition to the series, he quickly captured the hearts of many fans thanks to his impressive showcase during the Chunin Exams. Despite having many limitations, he managed to overcome them all and become his best self, especially in the early parts of the series.</p>
                    </a>
                </div>
                <!--7-->
                <div class="col-sm-6 col-md-4 col-lg-3 item mx-2 my-2">
                    <a href="../images/n17.png" data-lightbox="photos">
                        <img class="img-fluid" src="../images/n17.png">
                        <h1>Might Guy:</h1><hr><p>Might Guy is Konoha’s most energetic and dedicated shinobi. You can always count on him to be the most positive and hard-working person ever. He also cares a lot about his comrades. He never lets his age come in between and believes in the power of youth a lot.</p>
                    </a>
                </div>
                <!--8-->
                <div class="col-sm-6 col-md-4 col-lg-3 item mx-2 my-2">
                    <a href="../images/n18.jpg" data-lightbox="photos">
                        <img class="img-fluid" src="../images/n18.jpg">
                        <h1>Gaara:</h1><hr><p>Gaara is the Fifth Kazekage of Sunagakure (The Village Hidden in the Sand) and one of the main characters in the Naruto Anime series..</p>
                    </a>
                </div>
                <!--9-->
                <div class="col-sm-6 col-md-4 col-lg-3 item mx-2 my-2">
                    <a href="../images/n19.png" data-lightbox="photos">
                        <img class="img-fluid" src="../images/n19.png">
                        <h1>Madara Uchiha:</h1><hr><p>Madara played the role of a major antagonist in the series. He was the eldest son of the Tajima Uchiha, leader of the Uchiha clan at the time. Madara was born in the Warring States Period. Uchiha Clan was often hired because of their formidable prowess. Being the two strongest shinobi clans of the time, the Uchiha clan was constantly in battle against the well-renowned Senju Clan.</p>
                    </a>
                </div>
                <!--10-->
                <div class="col-sm-6 col-md-4 col-lg-3 item mx-2 my-2">
                    <a href="../images/n20.png" data-lightbox="photos">
                        <img class="img-fluid" src="../images/n20.png">
                        <h1>Obito Uchiha:</h1><hr><p>is a Saiyan from Universe 6 and a member of Team Universe 6 who participates in Zeno's Tournament of Power. She is the leader of a gang of Saiyan criminals.</p>
                    </a>
                </div>

            </div>
            <br />
        </div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>
</body>

</html>